body{
  font-family: Quicksand;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/*.projects-container {
  width: 100%;
  align-content: center;
}

.projects-display {
  display: block;
  width:90%;
  margin: 0 auto;
}*/

.navbar{
  background-color: black;
  color: white;
}

.about-me{
  padding-top: 65px;
}

p{
  font-size: 18px;
}

h2{
 /*padding-left: 100px;*/
 display: inline-block;
}

/*.btn{
  float: right;
  margin: 5px;
}*/

h1{
  text-align: center;
  text-decoration: overline underline;
}

h5{
  text-align: center;
}

.portfolio{
  margin-top: 5px;
  width:95%;
}


input[type=text]{
  border: 1px solid black;
  width: 100%;
}

.msg-input{
  height: 200px;
  /*width: 350px;*/
}

#btn-submit{
  margin-top: 5px;
  margin: 0 auto;
}

input{
  margin: 2px;
}

/*form > *{
  align-self: center;
  margin: 0 auto;
}*/
/*.list-inline{
  /*position: absolute;*/
  /*display: inline-block ;

  margin-left: 0%;

}*/
@media  (min-width:640px){
  .contact-form {
    width: 35%;
    margin: 0 auto;
  }
